<div class="stats" id="about">
  <div class="container">
    <h3 class="w3l-title"><span>A</span>bout<span>U</span>s</h3>
    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do consectetur adipiscing elit, eiusmod tempor incididunt ut labore et dolore magna aliqua".</p>
    <div class="stats-info">
      <div class="col-md-3 col-sm-3 col-xs-6 stats-grid slideanim">
        <i class="fa fa-facebook" aria-hidden="true"></i><div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='1200' data-delay='.5' data-increment="1">1200</div>
				<h4 class="stats-info">Likes</h4>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 stats-grid slideanim">
				<i class="fa fa-twitter" aria-hidden="true"></i><div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='8000' data-delay='.5' data-increment="1">8000</div>
				<h4 class="stats-info">Followers</h4>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6 stats-grid slideanim">
				<i class="fa fa-linkedin"></i><div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='9060' data-delay='.5' data-increment="10">9060</div>
				<h4 class="stats-info">Donations</h4>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6 stats-grid slideanim">
				<i class="fa fa-google-plus" aria-hidden="true"></i><div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='6700' data-delay='.5' data-increment="1">6700</div>
				<h4 class="stats-info">Donors</h4>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
